@model StajProjesi.Models.Model.Users
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="~/Content/AdminLayout/img/favicon.png">

    <title>Staj Admin Panel</title>

    <!-- Bootstrap CSS -->
    <link href="~/Content/AdminLayout/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="~/Content/AdminLayout/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="~/Content/AdminLayout/css/elegant-icons-style.css" rel="stylesheet" />

    <link href="~/Content/AdminLayout/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="~/Content/AdminLayout/css/style.css" rel="stylesheet">
    <link href="~/Content/AdminLayout/css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <![endif]-->
    <!-- =======================================================
      Theme Name: NiceAdmin
      Theme URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
      Author: BootstrapMade
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body class="login-img3-body">

    <div class="container">


        <form  class="login-form" method="post" action="/Admin/Login/">
            <div class="login-wrap">
                <p>@ViewBag.Uyari</p>
                <p class="login-img"><i class="icon_lock_alt"></i></p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_profile"></i></span>
                    <input type="text" class="form-control "required name="Eposta" placeholder="Eposta" autofocus id="Eposta" onkeyup="kontrol()" >
                    @Html.ValidationMessageFor(model => model.Eposta, "", new { @class = "text-danger  " })
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                    <input type="password" name="Sifre" class="form-control "required placeholder="Sifre">
                    @Html.ValidationMessageFor(model => model.Sifre, "", new { @class = "text-danger " })
                </div>

                <button class="btn btn-primary btn-lg btn-block" type="submit">Giriş Yap</button>

            </div>
        </form>

        <div class="text-right">
            <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
                -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </div>
    @*<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/Scripts/script-custom-validator.js"></script>*@

    <script type="text/javascript">
function ePostaKont(eposta)
{
    var duzenli = new RegExp(/^[a-z]{1}[\d\w\.-]+@@[\d\w-]{3,}\.[\w]{2,3}(\.\w{2})?$/);

    return duzenli.test(eposta);
}

function kontrol()
{
    var giris = document.getElementById('Eposta');

    if(ePostaKont(giris.value))
        giris.style.backgroundColor = "white";
    else
        giris.style.backgroundColor = "#F0D0D0";
}
    </script>
</body>


</html>
